<div id="<%= dom_id resume %>">
  <p>
    <strong>Nome:</strong>
    <%= resume.name %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= resume.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= resume.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= resume.website %>
  </p>

  <p>
    <strong>Experiência profissional:</strong>
    <%= resume.professional_experience %>
  </p>

</div>
